$blue: #66d;
$dark-blue: #22c;
$red: #d55;
$dark-red: #922;
$green: #3d3;
$dark-green: #191;
$white: #fdfdfd;
$light-grey: #ddd;
$grey: #999;
$dark-grey: #444;
$black: #040404;

$gold: rgb(207, 187, 0);

$primary-color: $blue;
$secondary-color: $red;

$dark: $dark-blue;