$blue: #66d;
$dark-blue: #22c;
$red: #d55;
$dark-red: #922;
$light-red: #f88;
$green: #3d3;
$dark-green: #191;
$white: #fdfdfd;
$light-grey: #ddd;
$grey: #999;
$dark-grey: #444;
$black: #040404;
$gold: rgb(207, 187, 0);

$dark: $dark-blue;

/* Dimensions */
$content-width: 75%;

/* Mobile Dimensions */
$mobile-cutoff: 768px;

$content-width-mobile: 95%;